*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: open sans,sans-serif;
	color: white;
}

li{
	display: block;
	padding: 5px 0;
}

p{
	padding-top: 8px;
	line-height: 1.5;
}

a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
}

.clearfix{
  clear: both;
  content: '';
	display: table;
	width: 100%;
}

.main{
	min-width: 825px;
}

.left_column{
	width: 40%;
	height: 100vh;
	background: url(../img/background_green.jpg) no-repeat center top / cover;
	display: block;
	float: left;
	overflow: auto;
}

.right_column{
	width: 60%;
	height: 100vh;
	background: url(../img/background_black.jpg) no-repeat center top / cover;
	display: block;
	float: right;
	overflow: auto;
}

.container_left{
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.container_right{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}

.photo{
	height: 200px;
	width: 200px;
	border: 4px solid;
	overflow: hidden;
	border-color: #111;
	border-radius: 5%;
	margin: 0 auto;
}

.contact a:hover{
	text-decoration: underline;
	color: #666;
}

.my_social_media li{
	display: inline-block;
	/*padding: 0 5px;*/
}

.my_social_media li{
	background: url(../img/css_sprites.png) 0 0/200px 100px no-repeat;
	height: 50px;
	width: 50px;
}


.my_social_media li:nth-child(1){
	background-position: 0 0;
}

.my_social_media li:nth-child(2){
	background-position: -50px 0;
}

.my_social_media li:nth-child(3){
	background-position: -100px 0;
}

.my_social_media li:nth-child(4){
	background-position: -150px 0;
}

.my_social_media li:hover:nth-child(1){
	background-position: 0 -50px;
}

.my_social_media li:hover:nth-child(2){
	background-position: -50px -50px;
}

.my_social_media li:hover:nth-child(3){
	background-position: -100px -50px;
}

.my_social_media li:hover:nth-child(4){
	background-position: -150px -50px;
}

.my_social_media a{
	height: 50px;
	width: 50px;
	display: block;
	margin-top: -5px;
}

/*.my_social_media img{
	height: 40px;
	width: 40px;
}
*/
/*.my_social_media img:hover{
	border: 1px solid rgba(0,0,0,0);
	opacity: .9;
}*/

.my_social_media h2, .contact h2 {
	color: #000;
	padding: 25px 0 15px 0;	
}


.name h1{
	font-size: 35px;
	
}

.container_right h1, h3{
	display: inline-block;
	color: #D9E59B;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-bottom: 3px solid #D9E59B
}

.name h4{
	font-size: 20px;
	color: #D9E59B;
	font-weight: normal;
	text-transform: none;
}

.about_me, .education, .additional_educationh, .interest{
	padding-top: 30px;
	
}

.btn{
	background: #D9E59B;
	display: block;
	width: 150px;
	border-radius: 15px;
	border: 2px solid #D9E59B;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #070707;
}

.btn:hover{
	
	color: #D9E59B;
	background: #252525;
}

.work li{
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

.work{
	margin-left: -20px;
}


.interests {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
