body{
	font-family: open sans,sans-serif;
	background: url(../img/bg.jpg);
	margin: 0;
	padding: 0;
	color:#fff; 
}

div{
	box-sizing: border-box; 
}

.clearfix{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container{
width: 1280px;
/* width: 80%; */
margin: 0 auto;
}

header{
	background: url(../img/IMG_20180902_104040_386.jpg)no-repeat center top / cover;
	height: 100vh;
}

h1{
	font-size: 60px;
	text-align: center;
	padding-top: 120px;
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
}

.second__title{
	font-size: 50px;
	text-align: center;
	font-weight: 400;
	margin-top: 50px;
}

.yummy, .anitube{
	background: #ff6766;
	border-radius: 15px;
	display: block;
	width: 400px;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	/* float: left;
	margin-left: 160px;
	 */
}
/* 
.anitube{
	float: right;
	margin-right: 160px;
} */

.yummy a{
	color: #343434;
	text-transform: uppercase;
	text-decoration: none; 
}
.anitube a{
	color: #343434;
	text-transform: uppercase;
	text-decoration: none; 
}

.links{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.buttons{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.button{
	/* float: left; */
	display: block;
	width: 300px;
	color:#fff;
	border: 0;
	background: #3cce7b;
	border-radius: 10px;
	font-weight: bold;
	font-size: 40px;
	padding: 17px 0;
	margin-top: 130px;
	text-transform: uppercase;
	
}

/* .button:last-child{
	float: right;
}

.button:nth-child(2){
	margin-left: 200px;
} */

.back{
	display: block;
	margin: 0 auto;
	width: 130px;
	color:#fff;
	border: 0;
	background: #8604bc;
	border-radius: 10px;
	font-weight: bold;
	font-size: 30px;
	padding: 10px 0;
	text-transform: uppercase;
}

section{
	padding: 15px;
	margin-top: 20px;
}

.content{
	/* width: 1280px; */
	/* width: 80%; */
    background: #333;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.content li{
display: block;
}

h2{
	margin: 50px 0;
	color: #fff;
	font-size: 60px;
	text-align: center;
	background: url(../img/h2_bg.jpg) repeat;
	border-radius: 3px;
	margin: 0 0 7px;
    padding: 5px 10px 5px 23px;
}

.poster{
	width: 300px;
	height: 450px;
	float: right;
}

.str{
	float: left;
}

.description{
	line-height: 40px;
}

.rating li{
	margin: 0;
	float: left;
	margin-right: 20px;
}

.rating img{
	display: block;
	height: 50px;
	width: 50px;
	position: relative;
}
.rating text{
	display: block;
	width: 90px;
	background: #f2b800;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 5px 0;
    position: relative;
}

.rating span{
	font-size: 14px;
	padding-top: 5px;
	display: block;
}

.description li{
	font-size: 20px;
}

#trl{
	color: #3cce7b;
}

.description strong{
    color: #69a149;
}

h4{
	text-transform: uppercase;
	margin: 20px 0;
	color: #fff;
	font-size: 30px;
	text-align: center;
	background: #444;
	border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.stori p{
	/* width: 1200px; */
	width: 95%;
	margin: 0 auto;
	font-size: 18px;
}

.charaters text{
	font-size: 18px;
}

.charaters img{
	display: block;
	float: right;
	height: 128px;
	width: 128px;
	padding-right: 40px;
	margin-bottom: 10px;
}

hr{
	display: block;
	margin-left: -30px;
	width: 1200px;
}