* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

.t-bold {
  font-weight: bold;
}

.clearfix,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.col-1-2 {
  width: 100%;
}

section {
  text-align: justify;
}

.main-text {
  padding: 25px 15px;
}

.main-text > span {
  display: block;
  padding-bottom: 25px;
}

.main-text > span:first-child {
  padding-bottom: 25px;
  text-align: center;
}

.main-text > span:last-child {
  padding-bottom: 0;
}

/* ??? */

.main-text:nth-child(4) span {
  text-align-last: left;
}

/* ??? */

.main-text:last-child {
  padding-bottom: 15px;
}

ul {
  padding-left: 10px;
  list-style-position: inside;
}

.propose-item {
  margin: 0 auto;
  max-width: 85%;
  min-height: auto;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  line-height: 1;
}

.propose-item__txt {
  padding: 20px 0 20px 0;
}

.propose-item__btn {
  bottom: 0;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #cf5b4f;
}

.btn:hover{
	background: #39849b;
}

footer {
  background: #39849b;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.footer__link {
  margin-bottom: 10px;
}

.footer__link a {
  background: url(../img/css_sprites.png) 0 0/70px 35px no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.footer__link a:last-child {
  background-position: -35px 0;
}

.unsubscrib {
  font-size: 0.8em;
  padding: 10px 0;
}

.unsubscrib a {
  color: #fff;
}

@media screen and (min-width: 580px) {
  .col-1-2 {
    width: calc(50% - 15px);
	}

	.propose-list{
		padding: 0 25px;
	}
	
	.main-text{
		padding: 25px ;
	}

  .propose-item {
		float: left;
		margin-right: 30px;

	}
	.propose-item:last-child{
		margin: 0;
	}
}

@media screen and (min-width: 706px){
	.page-wrap{
		max-width: 760px;
		padding: 40px 10px 20px;
		margin: 0 auto;
		background-color: #39849b;
	}

	.main-wrap{
		padding: 0 23px 25px;
		background: #fff;
	}

	.row:first-child{
		margin-bottom: 30px;
	}

	.main-text, .propose-list{
		padding: 36px 73px 0 ;
	}

	footer{
		margin-top: 30px;
		padding-top: 30px;
	}

	.footer__link {
  	margin-bottom: 20px;
	}

	.unsubscrib {
  	padding: 15px 0 30px ;
	}
}
