/* ? GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #0087e4;
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

.page__wrap {
  width: 100%;
  background: #fff;
  overflow: show;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.prise {
  color: #676767;
}

.sticker {
  width: 50px;
  height: 50px;
  line-height: 3.5;
  background: #f4cf23;
  border-radius: 100%;
}

/* * MODIFIERS */

.blue,
.sticker,
.item__title {
  color: #0193e9;
}

.bold,
.contact__phone,
.item__title,
.news__title,
.prise,
.sticker,
.user__name,
nav a {
  font-weight: 600;
}

.br-b,
.nav li {
  border-bottom: 1px solid #0193e9;
}

.br-b-dot {
  border-bottom: 2px dotted #0193e9;
}

.btn {
  padding: 5px 8px;
  background: #fae851;
  color: #4e443b;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background: #0087e4;
  color: #fae851;
}

.btn i {
  padding: 0 3px;
}

.d-b {
  display: block;
}

.f-z-14,
.btn {
  font-size: 14px;
}

.f-z-16 {
  font-size: 16px;
}

.grey,
nav a {
  color: #676767;
}

.italic {
  font-style: italic;
  font-family: serif;
}

.tx-a-c {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.yellow {
  color: #f4cf23;
}

/* ! SAME */

section,
footer {
  margin-bottom: 30px;
}

h1,
header .container,
.row,
.buttons,
.social,
.phone-sign,
.sign__up,
.user__choise,
.propose__slider,
.order,
.propose__text,
.share__item,
.service__item,
.product,
.news__item:first-child,
.feedback__item:first-child,
.footer__links > ul,
.contacts,
footer .links {
  display: flex;
}

header .container,
.buttons,
.main__title,
.menu__main,
.menu__catalog,
.phone-sign,
.sign__up,
.propose__slider,
.propose__text,
.share__item,
.product,
.sale__propose .row,
footer .row {
  flex-direction: column;
}

.buttons .btn:last-child,
.contact__phone:last-child,
.like:last-child,
.propose__item:last-child,
.product:last-child,
.service__item:last-child,
.menu__main li:last-child,
.menu__catalog li:last-child {
  margin-bottom: 0;
}

.product .prise {
  margin: 15px 0;
}

.product .btn {
  margin-bottom: 20px;
}

/* ! OUTSIDE */

header .social,
.main__phone,
.nav,
.propose__items,
.top__links {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 992px) {
  header .social,
  .main__phone,
  .nav,
  .propose__items,
  .top__links {
    position: static;
    height: auto;
  }

  .nav__btn,
  .catalog__btn {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

/* ! ACTIVE */

.active {
  position: static;
  height: auto;
}

/* ? HEADER */

header {
  margin-top: 20px;
}

header .container {
  justify-content: center;
}

header::before,
header:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
}

header::before {
  border-bottom: 4px solid #fae851;
  top: 0px;
}

header:after {
  border-bottom: 1px solid #0087e4;
  top: 100px;
}

/* * */

.top {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

/* / */

.buttons .btn {
  min-width: 103px;
  margin-bottom: 8px;
}

.social__media {
  margin-right: 10px;
}

@media (min-width: 768px) {
  header:after {
    top: 60px;
  }
  .buttons {
    flex-direction: row;
  }

  .buttons .btn {
    margin: 0 8px 0 0;
  }

  header .social {
    margin-left: 140px;
  }
}

.social__media a:hover {
  background: #fae851;
  color: #0087e4;
}

.social__media a {
  width: 100%;
  height: 100%;
  color: #4e443b;
  border: 1px solid #0087e4;
  border-radius: 1000%;
  padding: 5px 9px;
}

.top__links {
  display: flex;
}

.top__links .link {
  margin-left: 20px;
}

/* * */

h1 {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 23px 0;
  font-size: 30px;
  font-weight: 900;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 57px;
  background: #000;
  position: absolute;
  bottom: -11px;
}

.main__title {
  margin-bottom: 35px;
}

.phone-sign {
  align-self: flex-end;
  position: absolute;
  top: 22px;
}

@media (min-width: 768px) {
  .sign__up {
    position: absolute;
    right: 0;
    flex-direction: row;
  }

  .sign__up span {
    margin: 0 5px;
  }
}

.subtitle {
  letter-spacing: 5px;
}

.sign__up {
  align-self: flex-end;
  text-align: right;
  line-height: 1.2;
}

.title {
  margin-bottom: 40px;
}

.user__choise {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.user__choise i {
  padding-right: 4px;
}

@media (min-width: 992px) {
  .main__title {
    flex-direction: row;
    justify-content: space-between;
  }
  .phone-sign,
  .sign__up {
    position: static;
  }

  .phone-sign {
    justify-content: space-between;
    align-self: stretch;
    max-height: 60px;
  }
  .sign__up {
    align-self: flex-start;
  }

  .user__choise {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    max-height: 60px;
  }
}

/* * */

.menu {
  margin-bottom: 30px;
}
.nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav li:last-child {
  border: none;
}

.menu__main,
.menu__catalog {
  margin-bottom: 0px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.menu,
.catalog__menu {
  background: rgb(255, 255, 255);
  padding: 0px 10px 0px;
}

.menu__main li,
.menu__catalog li {
  margin-bottom: 5px;
  padding: 5px 0;
}

@media (min-width: 992px) {
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav li {
    padding: 0;
    margin: 0;
    border: none;
  }

  .nav a {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px 0;
    height: 100%;
    width: 90%;
    border-bottom: 2px solid #ffffff;
  }

  .nav a:hover {
    border-bottom: 2px solid #0087e4;
  }

  .nav {
    margin-bottom: 0;
  }
}

.nav a {
  width: 100%;
}

nav a:hover {
  color: #0087e4;
}

.nav__btn,
.catalog__btn {
  width: 100%;
  background: #f4cf23;
  border-radius: 50px;
  font-size: 22px;
  color: #0087e4;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 0;
}

.nav__btn:hover,
.catalog__btn:hover {
  background-color: #0087e4;
  color: #f4cf23;
}

/* ? PROPOSE */

.propose {
  background: url(../images/bg-1.png) no-repeat;
  position: relative;
}

.propose::before {
  content: "";
  border-bottom: 2px solid #fae851;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}

/* * */

.propose__slider {
  background: #fff;
  border: 4px solid #f4cf23;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

@media (min-width: 768px) {
  .propose__slider {
    flex-direction: row;
  }

  .propose__text {
    margin: 20px 0 0 50px;
    text-align-last: left;
  }
}
@media (min-width: 992px) {
  .propose__slider {
    max-height: 310px;
  }

  .propose__slider img {
    display: block;
    width: 100%;
    max-width: 310px;
    align-self: flex-end;
  }
}

.propose__slider::before,
.propose__slider::after {
  width: 38px;
  height: 38px;
  background: #fae851;
  border-radius: 100%;
  position: absolute;
  font-size: 40px;
  color: #0087e4;
  top: 50%;
  line-height: 1;
  text-align: center;
}

.propose__slider::before {
  content: "<";
  left: 10px;
}

.propose__slider::after {
  content: ">";
  right: 10px;
}

/* / */

.order {
  align-items: center;
}

.propose__slider img {
  display: block;
  width: 100%;
  align-self: flex-end;
}

.propose__text {
  padding: 20px 20px 10px;
}

.propose__text h3 {
  text-align: center;
}

.propose__text h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.propose__text p {
  color: #31363a;
  width: 80%;
  margin-bottom: 30px;
}

.propose__slider .prise {
  color: #000;
  font-size: 26px;
  margin-bottom: 30px;
}

.propose__slider .prise i {
  color: #f4cf23;
  padding: 0 5px;
  font-size: 20px;
}

.propose .sticker {
  margin-left: 10px;
}

/* * */

.propose__items{
  align-self: flex-end;
}

.propose__item {
  display: flex;
  justify-content: space-between;
 height: 90px;
 background: #fff;
  border:2px solid #0087e4;
  margin-bottom: 10px;
}
.propose__item .product {
 align-items: flex-start;
margin: 15px 0 0 10px;
padding: 0;
max-height: 70px;

}

.propose__item i{
  color: #f4cf23;
  margin: 0 4px;
}

.propose__item .product:hover{
   border:3px solid #ffffff;
}

/* ? SHARE */

.share .row {
  justify-content: center;
}

/* * */

.share h3 {
  line-height: 1.3;
  margin-bottom: 20px;
}

.share__item {
  align-self: center;
}

@media (min-width: 438px) {
  .share__item {
    flex-direction: row;
  }
}

/* * */

.like {
  background: url(../images/like.png) no-repeat;
  height: 25px;
  margin: 5px 5px;
}

.like:hover {
  opacity: 0.6;
}

.like:nth-child(1) {
  width: 106px;
}
.like:nth-child(2) {
  width: 78px;
  background-position: -120px 0;
}
.like:nth-child(3) {
  width: 83px;
  background-position: -210px 0;
}
.like:nth-child(4) {
  width: 64px;
  background-position: -310px 0;
}

/* ? SERVIS */

.service .row {
  justify-content: center;
}

.service__icon {
  height: 65px;
  min-width: 65px;
  background-color: #0193e9;
  border-radius: 50%;
  padding: 15px;
  margin-right: 15px;
}

.service__item {
  margin-bottom: 20px;
}

.service__text {
  padding-top: 10px;
}

.service__text span {
  display: block;
  margin-bottom: 15px;
}

.service__text p {
  margin-bottom: 15px;
}

/* ? MAIN */

.main h4 {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
}

.main h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 57px;
  background: #000;
  position: absolute;
  bottom: -15px;
  left: 47%;
}

/* / */

.main .row {
  margin: 20px 0 30px;
  position: relative;
}

@media (min-width: 992px) {
  
  .main .row::before,
  .main .row::after {
    width: 38px;
    height: 38px;
    background: #fae851;
    border-radius: 100%;
    position: absolute;
    font-size: 40px;
    color: #0087e4;
    top: 33%;
    line-height: 1;
    text-align: center;
  }
  
  .main .row::before {
    content: "<";
    left: 10px;
  }
  
  .main .row::after {
    content: ">";
    right: 10px;
  }
}


.more__product {
  font-size: 24px;
}

/* * */

.product {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 10px 0;
  border: 3px solid #fff;
}

.product:hover {
  border: 3px solid #0193e9;
}

/* / */

.product img {
  display: block;
  width: 100%;
  max-width: 230px;
  margin-bottom: 20px;
}

.order__click  {
  visibility: hidden;
}

.product:hover .order__click {
 visibility: visible;
}

/* ? NEW__ITEMS */

.new__items {
  position: relative;
}

.new__items::before,
.new__items::after {
  content: "";
  border-bottom: 1px solid #0087e4;
  width: 100%;
  position: absolute;
  left: 0;
}

.new__items::before {
  top: 74px;
}

.new__items::after {
  bottom: 13px;
}

.new__items .row {
  flex-wrap: nowrap;
}

/* * */

.new__items h2 {
  margin-bottom: 25px;
  font-size: 32px;
}

/* * */

.new__items__body {
  border: 3px solid #fff;
  min-width: 90%;
  overflow: auto;
}

/* / */

.new__items .product {
  min-width: 135px;
  margin: 0 5px;
}

/* ? SALE__PROPOSE */

.sale__propose .row {
  align-items: center;
  padding: 0 20px;
  flex-wrap: nowrap;
}

/* * */

.sale__img {
  max-width: 190px;
}

.sale__propose span {
  font-size: 38px;
}

.sale__propose .col:nth-child(2) span {
  font-size: 60px;
}

@media (min-width: 768px) {
  .sale__propose .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .sale__propose .col:nth-child(2) span {
    font-size: 100px;
  }
}
/* ? ABOUT */

/* * */

.news__item:first-child,
.feedback__item:first-child {
  justify-content: space-between;
  border-bottom: 1px solid #0087e4;
}

.news__item,
.feedback__item {
  color: #676767;
  padding: 15px 0;
}

/* / */

.news__date,
.user__town {
  font-size: 12px;
}

.news__title,
.user__name {
  margin: 10px 0;
}

.user__name {
  color: #31363a;
}

/* ? BG */

.bg {
  background: url(../images/bg-2.png) 0 0 / cover no-repeat;
  height: 138px;
}

/* ? FOOTER */

@media (min-width: 992px) {
  footer .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer__links > ul {
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

.links__title {
  margin: 10px 5px;
}

/* / */

footer .social {
  margin-bottom: 10px;
}

footer .social__media a {
  border-color: #fae851;
}

/* / */

.f__products li,
.f__services li,
.f__contacts li {
  margin: 15px 0;
}

.f__product,
.f__service,
.f__contact {
  text-decoration: none;
  color: #676767;
}

/* * */

.contacts {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 576px) {
  .contacts {
    flex-wrap: nowrap;
  }
}

/*  */

.contact__phone {
  min-width: 142px;
}

.contacts__links {
  margin-bottom: 20px;
}

footer .links {
  flex-wrap: wrap;
}

footer .link {
  margin: 0 30px 10px 0;
}

.links i {
  color: #676767;
  margin-right: 5px;
}

/* / */

.contact__phones li {
  margin-bottom: 20px;
}

.contact__phone {
  color: #676767;
  font-size: 20px;
}

/* * */

.footer__city {
  text-align: justify;
  color: #818181;
  font-size: 12px;
  line-height: 1.5;
}

/* ? */

.copyright {
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #0085e3;
}

/* ! GRID */

.row {
  flex-wrap: wrap;
}

.col-xs-12 {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.col-xs-10 {
  width: calc(100% / 12 * 10 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.col-xs-8 {
  width: calc(100% / 12 * 8 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.col-xs-6 {
  width: calc(100% / 12 * 6 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

/* ** */

.col-xs-3 {
  width: calc(100% / 12 * 4.5 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.col-xs-8 {
  width: calc(100% / 12 * 8 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: calc(100% / 12 * 6 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    width: calc(100% / 12 * 6 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-md-4 {
    width: calc(100% / 12 * 4 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .col-md-3 {
    width: calc(100% / 12 * 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .col-md-9 {
    width: calc(100% / 12 * 9 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
