/* ? GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #0087e4;
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.page__wrap {
  width: 100%;
  background: #fff;
}

.prise {
  color: #676767;
}

.sticker {
  width: 50px;
  height: 50px;
  line-height: 3.5;
  background: #f4cf23;
  border-radius: 100%;
}

/* * MODIFIERS */

.blue,
.sticker,
.item__title {
  color: #0193e9;
}

.bold,
.contact__phone,
.item__title,
.news__title,
.prise,
.sticker,
.user__name {
  font-weight: 600;
}

.br-b,
.nav li {
  border-bottom: 1px solid #0193e9;
}

.br-b-dot {
  border-bottom: 2px dotted #0193e9;
}

.btn {
  padding: 5px 8px;
  background: #fae851;
  color: #4e443b;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background: #0087e4;
  color: #fae851;
}

.btn i {
  padding: 0 3px;
}

.d-b {
  display: block;
}

.f-z-14,
.btn {
  font-size: 14px;
}

.f-z-16 {
  font-size: 16px;
}

.italic {
  font-style: italic;
  font-family: serif;
}

.tx-a-c {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.yellow {
  color: #f4cf23;
}

/* ! SAME */

header,
section,
footer {
  margin-bottom: 30px;
}

h1,
header .container,
.top,
.buttons,
.social,
.main__title,
.phone-sign,
.sign__up,
.user__choise,
.propose__slider,
.order,
.propose__text,
.share .container,
.share__item,
.service .row,
.service__item,
.product,
.new__items__body,
.sale__propose .container,
.about__body,
.news__item:first-child,
.feedback__item:first-child,
.footer__links > ul,
.contacts,
footer .links,
.copyright {
  display: flex;
}

header .container,
.buttons,
.main__title,
.phone-sign,
.sign__up,
.propose__slider,
.propose__text,
.share .container,
.share__item,
.service .row,
.product,
.sale__propose .container,
.about__body {
  flex-direction: column;
}

.buttons .btn:last-child,
.contact__phone:last-child,
.like:last-child,
.propose__item:last-child,
.product:last-child,
.service__item:last-child,
.menu__main li:last-child,
.menu__catalog li:last-child {
  margin-bottom: 0;
}

.product .prise {
  margin: 15px 0;
}

.product .btn {
  margin-bottom: 20px;
}

/* ! OUTSIDE */

header .social,
.main__phone,
.nav,
.nav,
.propose__items,
.top__links {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav,
.nav {
  height: 0;
}

/* ! ACTIVE */

.active {
  position: static;
  height: auto;
}

/* ? HEADER */

header {
  margin-top: 10px;
}

header .container {
  justify-content: center;
}

header::before,
header:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
}

header::before {
  border-bottom: 4px solid #fae851;
  top: 0px;
}

header:after {
  border-bottom: 1px solid #0087e4;
  top: 100px;
}

/* * */

.top {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

/* / */

.buttons .btn {
  margin-bottom: 8px;
}

.social__media {
  margin-right: 10px;
}

.social__media a:hover {
  background: #fae851;
  color: #0087e4;
}

.social__media a {
  width: 100%;
  height: 100%;
  color: #4e443b;
  border: 1px solid #0087e4;
  border-radius: 1000%;
  padding: 5px 9px;
}

/* * */

h1 {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 23px 0;
  font-size: 30px;
  font-weight: 900;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 57px;
  background: #000;
  position: absolute;
  bottom: -11px;
}

.main__title {
  margin-bottom: 35px;
}

.phone-sign {
  align-self: flex-end;
  position: relative;
  top: -73px;
}

.subtitle {
  letter-spacing: 5px;
}

.sign__up {
  text-align: right;
  line-height: 1.2;
}

.title {
  margin-bottom: 40px;
}

.user__choise {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.user__choise i {
  padding-right: 4px;
}

/* * */

.menu {
  margin-bottom: 30px;
}
.nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav li:last-child {
  border: none;
}

.menu__main,
.menu__catalog {
  margin-bottom: 5px;
  font-size: 20px;
}

.menu,
.catalog__menu {
  background: rgb(255, 255, 255);
  padding: 0px 10px 0px;
}

.menu__main li,
.menu__catalog li {
  margin-bottom: 5px;
  padding: 5px 0;
}

.nav a {
  width: 100%;
}

.nav__btn {
  margin-bottom: 10px;
}

.nav__btn,
.catalog__btn {
  width: 100%;
  background: #f4cf23;
  border-radius: 50px;
  font-size: 22px;
  color: #0087e4;
  cursor: pointer;
  padding: 5px 0;
}

.nav__btn:active,
.catalog__btn:active{
  background: #f4cf23;
  
}

.nav__btn:hover,
.catalog__btn:hover {
  background-color: #0087e4;
  color: #f4cf23;
}

/* ? PROPOSE */

.propose {
  background: url(../images/bg-1.png) no-repeat;
  position: relative;
}

.propose::before {
  content: "";
  border-bottom: 2px solid #fae851;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}

/* * */

.propose__slider {
  background: #fff;
  border: 4px solid #f4cf23;
  position: relative;
}

.propose__slider::before,
.propose__slider::after {
  width: 38px;
  height: 38px;
  background: #fae851;
  border-radius: 100%;
  position: absolute;
  font-size: 40px;
  color: #0087e4;
  top: 50%;
  line-height: 1;
  text-align: center;
}

.propose__slider::before {
  content: "<";
  left: 10px;
}

.propose__slider::after {
  content: ">";
  right: 10px;
}

/* / */

.order {
  align-items: center;
}

.propose__slider img {
  display: block;
  width: 100%;
  max-width: 400px;
}

.propose__text {
  padding: 20px 20px 10px;
}

.propose__text h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.propose__text p {
  color: #31363a;
  width: 80%;
  margin-bottom: 30px;
}

.propose__slider .prise {
  color: #000;
  font-size: 26px;
  margin-bottom: 30px;
}

.propose__slider .prise i {
  color: #f4cf23;
  padding: 0 5px;
  font-size: 20px;
}

.propose .sticker {
  margin-left: 10px;
}

/* * */

.propose__items {
}
.propose__item {
}

/* ? SHARE */

.share .container {
  justify-content: center;
}

/* * */

.share h3 {
  line-height: 1.3;
  margin-bottom: 20px;
}

.share__item {
  margin: 0 auto;
}

/* * */

.like {
  background: url(../images/like.png) no-repeat;
  height: 25px;
  margin: 5px 5px;
}

.like:hover {
  opacity: 0.6;
}

.like:nth-child(1) {
  width: 106px;
}
.like:nth-child(2) {
  width: 78px;
  background-position: -120px 0;
}
.like:nth-child(3) {
  width: 83px;
  background-position: -210px 0;
}
.like:nth-child(4) {
  width: 64px;
  background-position: -310px 0;
}

/* ? SERVIS */

.service .row {
  justify-content: center;
}

/* * */

.servise__icon {
  height: 65px;
  min-width: 65px;
  background-color: #0193e9;
  border-radius: 50%;
  padding: 15px;
  margin-right: 15px;
}

.service__item {
  padding: 0 30px;
  margin-bottom: 20px;
  color: #31363a;
}

.servise__text {
  padding-top: 10px;
}

.servise__text span {
  display: block;
  margin-bottom: 15px;
}

.servise__text p {
  margin-bottom: 15px;
}

/* ? MAIN */

.main h4 {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
}

.main h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 57px;
  background: #000;
  position: absolute;
  bottom: -15px;
  left: 40%;
}

/* / */

.main .row {
  margin-top: 20px;
}

.more__product {
  font-size: 24px;
}

/* * */

.product {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 10px 0;
  border: 3px solid #fff;
}

.product:hover {
  border: 3px solid #0193e9;
}

/* / */

.product img {
  display: block;
  width: 100%;
  max-width: 230px;
  margin-bottom: 20px;
}

/* ? NEW__ITEMS */

.new__items {
  position: relative;
}

.new__items::before,
.new__items::after {
  content: "";
  border-bottom: 1px solid #0087e4;
  width: 100%;
  position: absolute;
  left: 0;
}

.new__items::before {
  top: 74px;
}

.new__items::after {
  bottom: 14px;
}

/* * */

.new__items h2 {
  margin-bottom: 25px;
  font-size: 32px;
}

/* * */

.new__items__body {
  border: 3px solid #fff;
  min-width: 90%;
  overflow: scroll;
}

/* / */

.new__items .product {
  min-width: 135px;
  margin: 0 5px;
}

/* ? SALE__PROPOSE */

.sale__propose .container {
  align-items: center;
  padding: 0 20px;
}

/* * */

.sale__propose .container span {
  font-size: 28px;
}

/* ? ABOUT */

/* * */

.news__item:first-child,
.feedback__item:first-child {
  justify-content: space-between;
  border-bottom: 1px solid #0087e4;
}

.news__item,
.feedback__item {
  color: #676767;
  padding: 15px 0;
}

/* / */

.news__date,
.user__town {
  font-size: 12px;
}

.news__title,
.user__name {
  margin: 10px 0;
}

.user__name {
  color: #31363a;
}

/* ? BG */

.bg {
  background: url(../images/bg-2.png) 0 0 / cover no-repeat;
  height: 138px;
}

/* ? FOOTER */

.footer__links > ul {
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

.links__title {
  margin: 10px 5px;
}

/* / */

footer .social {
  margin-bottom: 10px;
}

footer .social__media a {
  border-color: #fae851;
}

/* / */

.f__products li,
.f__servises li,
.f__contacts li {
  margin: 15px 0;
}

.f__product,
.f__servise,
.f__contact {
  text-decoration: none;
  color: #676767;
}

/* * */

.contacts {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*  */

.contacts__links {
  margin-bottom: 20px;
}

footer .links {
  flex-wrap: wrap;
}

footer .link {
  margin: 0 30px 10px 0;
}

.links i {
  color: #676767;
  margin-right: 5px;
}

/* / */

.contact__phones li {
  margin-bottom: 20px;
}

.contact__phone {
  color: #676767;
  font-size: 20px;
}

/* * */

.footer__city {
  text-align: justify;
  color: #818181;
  font-size: 12px;
  line-height: 1.5;
}

/* ? */

.copyright {
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #0085e3;
}
