/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

body {
  font-family: Raleway, sans-serif;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 30px;
}

/* Header */
header {
  width: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
}

header .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.brand {
  font-size: 26px;
  padding: 15px;
  color: #59abe3;
}

header nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  background: #fff;
  padding-bottom: 20px;
}

header .menu {
  margin: 0 auto;
}

header .active {
  display: flex;
}

.menu {
  text-align: center;
}

.menu li {
  list-style: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;
}

.menu li:last-child {
  border: none;
  margin: 0;
}

.menu a {
  padding: 10px 35px;
  font-size: 24px;
  color: #bdbdbd;
}

.menu a:hover {
  color: #59abe3;
  background: #bdbdbd75;
}

header .fa-bars {
  font-size: 40px;
  color: #979797;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  header .container {
    display: flex;
  }

  .fa-bars {
    display: none;
  }
  header nav,
  .menu {
    display: flex;
    position: static;
    width: auto;
    padding: 0;
  }

  .menu li {
    border: none;
    margin-bottom: 0;
    line-height: 2;
  }

  .menu a {
    font-size: 16px;
    padding: 15px;
  }
}

.jumbotron {
  background: url(../img/jumbotron.jpg) no-repeat;
  height: 410px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
  margin-bottom: 40px;
}

.button {
  padding: 23px 30px;
  background: #fa5ba5;
  border-radius: 30px;
  color: #fff;
  font-size: 1.3em;
}

.button:hover {
  background: #59abe3;
}

/* Services */

.services h2,
.blog h2 {
  margin: 45px 0;
}

.services__items {
  display: flex;
  flex-direction: column;
}

.service {
  text-align: center;
  color: #979797;
  margin: 30px 30px;
}

.service i {
  padding-bottom: 35px;
}

/* Blog */

.blog,
.post:first-child {
  margin-bottom: 50px;
}

.blog__items,
.post {
  display: flex;
  flex-direction: column;
}

.post img {
  display: block;
  width: 100%;
  order: 4;
  margin: 30px 0 0 0;
}

.post h3 {
  padding: 30px 0px 10px;
}

.post p {
  color: #979797;
}
.date {
  padding: 20px 0;
}

/* Footer */

footer {
  height: 150px;
  background: #38404b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .brand {
  margin-bottom: 20px;
  font-size: 30px;
  color: #9eaabb;
}
footer .menu {
  display: none;
}

.copyright {
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 570px) {
  .container {
    padding: 0 25px;
  }

  .services__items {
    flex-direction: row;
  }

  .service {
    margin: 30px 15px;
  }

  .post {
    flex-direction: row;
  }

  .post img {
    order: 0;
    max-width: 280px;
    max-height: 230px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 920px) {
  header .container,
  .blog,
  .services {
    padding: 0 150px;
  }
  footer {
    height: 250px;
  }

  footer .brand {
    margin-bottom: 0;
  }
  footer .menu {
    display: flex;
    margin-bottom: 30px;
  }
}
