#about-us {
  .about-us__body {
    display: flex;
    flex-wrap: wrap;
    .slider {
      width: 100%;
      background: $main-bg-c;
      margin: 0 0 20px;
    }
    .about-us__text {
      h4 {
        color: #3e3f3f;
        margin: 10px 0;
        font-size: 1.2rem;
      }
      p {
        margin: 15px 0;
        color: $text-color;
        font-size: $text-fz;
      }
    }
  }
}

@media (min-width: 720px) {
  #about-us {
    .about-us__body {
      flex-wrap: nowrap;
      .slider,
      .about-us__text {
        padding: 0 20px;
        flex: 1;
      }
    }
  }
}