#form-info {
  background: url(../images/bottom-bg.webp) 50% 0 / cover no-repeat;
  .form-info {
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $grid-gap-mb;
    .form,
    .info-map {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      background: rgba(#0b2231, 0.6);
      padding: 15px;
      height: 460px;
    }
    .form {
      justify-content: space-between;
      .form-control {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid $form-footer-text;
        color: $form-footer-text;
        &::-webkit-input-placeholder {
          color: $form-footer-text;
        }
        &::-moz-placeholder {
          color: $form-footer-text;
        }
        &:-moz-placeholder {
          color: $form-footer-text;
        }
        &:-ms-input-placeholder {
          color: $form-footer-text;
        }
      }
      textarea {
        flex: 3;
        margin-bottom: 40px;
      }
      .form-button {
        width: 100%;
        height: 53px;
        border-radius: 2px;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        background: $color-spry;
        color: $text-color;
        &:hover {
          background: $hover-color;
        }
      }
    }
    .info-map {
      .info {
        line-height: 20px;
        padding: 26px 0 27px;
        ul {
          li {
            a {
              color: $form-footer-text;
              font-size: 15px;
            }
          }
          &:first-child {
            margin-bottom: 33px;
          }
        }
      }
      .map {
        height: 224px;
        iframe {
          height: 224px;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 566px) {
  #form-info {
    .form-info {
      .form {
        .form-button {
          width: 246px;
        }
      }
    }
  }
}

@media (min-width: 720px) {
  #form-info {
    .form-info {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 26px;
      .form {
        padding: 38px 30px;
      }
      .info-map {
        padding: 0;
        .info {
          padding: 38px 30px 27px;
        }
        .map {
          padding: 0 22px 18px;
        }
      }
    }
  }
}