@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  // font-family: 'Raleway', sans-serif;
  .container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 310px;
    max-width: 1140px;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h4 {
    // font-size: $font-size-mobile-h2;
    text-transform: uppercase;
  }
  h4 {
    font-family: "Merriweather", serif;
    font-weight: 700;
  }
  img {
    width: 100%;
    display: block;
  }
  li {
    list-style: none;
  }
  .scrollup {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: $title-color;
    background: $color-spry;
    z-index: 998;
    line-height: 1.8;
  }
}

body.lock {
  overflow: hidden;
}

@media (min-width: 566px) {
  h4 {
    font-size: 20px;
  }
}

@media (min-width: 720px) {
  body {
    .container {
      padding: 0 25px;
    }
  }
}