@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  .container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 310px;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h4 {
    // font-size: $font-size-mobile-h2;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    display: block;
  }
}
