@import "burger";
@import "menu";
header {
  height: 48px;
  width: 100%;
  background: $main-bg-c;
  position: fixed;
  top: 0;
  z-index: 999;
  .container {
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      .logo {
        a {
          display: block;
          width: 60%;
        }
      }
    }
  }
}

@media (min-width: 720px) {
  header {
    height: 86px;
    background: rgba($main-bg-c, .8);
    .container {
      .topbar {
        padding: 20px 0;
        .logo {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}