@import "variables";
@import "burger";
@import "menu";

header {
  background: #eff0f2 url(../images/Glass.png) 70vw 80vh / 70px 70px no-repeat;
  height: 100vh;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      padding: 10px 15px;
      position: fixed;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      background: $main-bg-c;
      .logo {
        a {
          display: block;
          width: 60%;
        }
      }
    }
    .main-title {
      text-align: center;
      // margin-bottom: 50px;
      h1 {
        color: $title-color;
        font-size: $title-fz-mb;
        line-height: 2rem;
        font-weight: 700;
        span {
          background: rgba($color-spry, 0.5);
          padding: 0 5px;
        }
      }
    }
    .header-btn {
      margin-bottom: 50px;
      a {
        border: 2px solid #777879;
        border-radius: 3px;
        padding: 15px 47px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3px;
        color: #181919;

        &:hover {
          background-color: $color-spry;
          color: #181919;
        }
      }
    }
  }
}
