#menu {
  display: block;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: $main-bg-c;
  position: absolute;
  top: -200vh;
  left: 0;
  transition: all 0.5s ease;
  overflow: auto;
  &.active {
    top: 0vh;
  }
  ul {
    padding: 30px;
    li {
      margin: 25px 0;
      border-bottom: 1px solid $text-color;
      text-align: center;
      a {
        display: block;
        width: 100%;
        color: $text-color;
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
}