.section-title {
  text-align: center;
  margin: 50px 0 40px;
  h2 {
    margin-bottom: 5px;
    font-size: $h2-fz-mb;
  }
  p {
    text-transform: uppercase;
    font-size: calc(10px + 1vw);
    font-family: "Merriweather", serif;
    font-weight: 300;
    color: #848585;
  }
}
