.small-team__body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: $grid-gap-mb;
  .small-team__item {
    min-height: 384px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:hover {
      .info-team {
        background: rgba($color-spry, 1);
        opacity: 1;
        visibility: visible;
      }
    }
    &:nth-child(1) {
      background: url(../images/sm-t_img-1.webp) 50% 0 / cover no-repeat;
    }
    &:nth-child(2) {
      background: url(../images/sm-t_img-2.webp) 50% 0 / cover no-repeat;
    }
    &:nth-child(3) {
      background: url(../images/sm-t_img-3.webp) 50% 0 / cover no-repeat;
    }
    &:nth-child(4) {
      background: url(../images/sm-t_img-4.webp) 50% 0 / cover no-repeat;
    }
    &:nth-child(5) {
      background: url(../images/sm-t_img-5.webp) 50% 0 / cover no-repeat;
    }
    &:nth-child(6) {
      background: url(../images/sm-t_img-6.webp) 50% 0 / cover no-repeat;
    }
    .info-team {
      background: rgba($color-spry, 0.5);
      padding: 20px;
      position: relative;
      transition: all 0.9s ease;
      z-index: 2;
      h4 {
        font-weight: 900;
        span {
          text-transform: none;
          font-size: 14px;
          font-style: italic;
          color: #757776;
        }
      }
      p {
        margin: 1em 0;
      }
      .social {
        &::before {
          content: "";
          display: none;
          height: 20px;
          width: 20px;
          background: $color-spry;
          position: absolute;
          left: 5%;
          top: -3%;
          z-index: 1;
          transform: scale(1, 1.8) rotate(45deg);
        }
        a {
          margin-right: 0.8em;
          color: #214946;
          font-size: 13px;
          i {
            &:hover {
              color: $hover-color;
              transform: scale(2, 2);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 444px) {
  .small-team__body {
    .small-team__item {
      min-height: 440px;
    }
  }
}

@media (min-width: 566px) {
  .small-team__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 720px) {
  .small-team__body {
    grid-gap: $grid-gap-pc;
    .small-team__item {
      .info-team {
        opacity: 0;
        visibility: hidden;
        padding: 40px;
        h4 {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
        &::before {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .small-team__body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .small-team__item {
      max-width: 370px;
      .info-team {
        p {
          margin: 1em 0 2em;
        }
      }
    }
  }
}