$burger-width: 30px;
$title-color: #505050;
$title-fz-mb: 25px;
$color-spry: #70f5ea;
$main-bg-c: #eff0f2;
$text-fz: 14px;
$text-color: #404141;
$grid-gap-mb: 10px;
$grid-gap-pc: 14px;
$our-service-text: #f7f7f7;
$form-text: #c5c5c5;