$burger-width-mobile: 25px;
$title-color: #505050;
$title-fz-mb: 25px;
$color-spry: #70f5ea;
$h2-fz-mb: calc(18px + 2vw);
$main-bg-c: #eff0f2;
$text-fz: 14px;
$text-color: #404141;
$grid-gap: 10px;
$our-service-text: #f7f7f7;
